/*body{*/
    /*font-family: "Verdana", Times, serif;*/
/*}*/
/*h1 h2 h3 h4 h5 h6{*/
    /*font-family: Georgia, "Times New Roman", serif;*/
    /*text-decoration: underline;*/
/*}*/
.imagem{
    float: left;
    margin-top: 20px;
}
.imagem img{

}
.novoh1 h1{
    font-size: 22px;
    color: #069;
}
.novoh4 h4{
    font-size: 20px;
    color: #069;
}
.novo_img img{
    width: 30px;
    margin-bottom: 11px;
}
.images img{
    width: 500px;
    /*height: 200px;*/
}
.titulo{
    color: #069;
}
.titulos{
    font-weight:bold;
}
.nona img{
    padding: 10px;
}
.uper{
    text-transform: uppercase;
}
.ima{
    margin-bottom: 18px;
}
.consumidor{
    color: #881f0e;
}
.video{
    margin-left: 50px;
}
.text-bold{
    font-weight: bold;
}
.camisetas li{
    font-size: 12px;
    font-weight: bold;
}

.camisetas li a:hover{
    text-decoration: underline;
    color: #881f0e;
}

.menuli li:hover{
    text-decoration: underline;
    color: #881f0e;
}

.menuli li a:hover{
    color: #881f0e;
}

.google-maps {
    position: relative;
    padding-bottom: 25%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%
}

[class*='b-color-picker_color'] {
    display: inline-block;
    height: 28px;
    width: 29px;
    border-radius: 3px;
    margin: 2px 4px;
    cursor: pointer; }
[class*='b-color-picker_color'].is-active, [class*='b-color-picker_color']:hover {
    box-shadow: 2px 2px 0 #ededed, -2px 2px 0px #ededed, 0 2px 0 #ededed, 2px -2px 0 #ededed, -2px -2px 0px #ededed; }

.b-color-picker__box {
    margin: 0 -5px 0 -5px; }

.b-color-picker_color_1 {
    background-color: #002a80; }

.b-color-picker_color_2 {
    background-color: #cc1212; }

.b-color-picker_color_3 {
    background-color: #d4d4d4; }

.b-color-picker_color_4 {
    background-color: #FFFFFF; }

.b-color-picker_color_5 {
    background-color: #000000; }

.b-color-picker_color_6 {
    background-color: #1685d3; }

.b-color-picker_color_7 {
    background-color: #a28c0f; }

.b-color-picker_color_8 {
    background-color: #e3921f; }

.b-color-picker_color_9 {
    background-color: #656565; }

.b-color-picker_color_10 {
    background-color: #efd108; }

.b-color-picker_color_11 {
    background-color: #049ab0; }

.b-color-picker_color_12 {
    background-color: #c4908d; }

.b-color-picker_color_13 {
    background-color: #f40d85; }

.b-color-picker_color_14 {
    background-color: #e00ed9; }

.b-color-picker_color_15 {
    background-color: #875a50; }

.b-color-picker_color_16 {
    background-color: #96b6cb; }

.b-color-picker_color_p1 {
    background-color: #c1e8cb; }

.b-color-picker_color_p2 {
    background-color: #1c7c32; }

.b-color-picker_color_p3 {
    background-color: #151839; }

.b-color-picker_color_p4 {
    background-color: #0984a5; }

.b-color-picker_color_p5 {
    background-color: #58a8c1; }

.b-color-picker_color_p6 {
    background-color: #95b5cc; }

.b-color-picker_color_p7 {
    background-color: #e7d3c8; }

.b-color-picker_color_p8 {
    background-color: #9c7da9; }

.b-color-picker_color_p9 {
    background-color: #f45c2a; }

.b-color-picker_color_p10 {
    background-color: #ef9c34; }

.b-color-picker_color_p11 {
    background-color: #bea471; }

.b-color-picker_color_p12 {
    background-color: #402420; }

.b-color-picker_color_p13 {
    background-color: #cdccc7; }

.b-color-picker_color_p14 {
    background-color: #b4b5a5; }

.b-color-picker_color_p15 {
    background-color: #807b77; }

.b-color-picker_color_p16 {
    background-color: #1a1a1a; }

.b-color-picker_color_p17 {
    background-color: #0c0c0c; }

.b-color-picker_color_c1 {
    background-color: #FFFFFF; }

.b-color-picker_color_c2 {
    background-color: #000000; }

.b-color-picker_color_c3 {
    background-color: #0a5412; }

.b-color-picker_color_c4 {
    background-color: #46ff9c; }

.b-color-picker_color_c5 {
    background-color: #69ff6c; }

.b-color-picker_color_c6 {
    background-color: #08d3b7; }

.b-color-picker_color_c7 {
    background-color: #176c2b; }

.b-color-picker_color_c8 {
    background-color: #79cbe3; }

.b-color-picker_color_c9 {
    background-color: #049ab0; }

.b-color-picker_color_c10 {
    background-color: #1a6c80; }

.b-color-picker_color_c11 {
    background-color: #049ab0; }

.b-color-picker_color_c12 {
    background-color: #5b70a3; }

.b-color-picker_color_c13 {
    background-color: #ddb7d0; }

.b-color-picker_color_c14 {
    background-color: #a4185a; }

.b-color-picker_color_c15 {
    background-color: #b60400; }

.b-color-picker_color_c16 {
    background-color: #63051a; }

.b-color-picker_color_c17 {
    background-color: #cb4d07; }

.b-color-picker_color_c18 {
    background-color: #cb8013; }

.b-color-picker_color_c19 {
    background-color: #f5dc48; }

.b-color-picker_color_c20 {
    background-color: #f2e3a8; }

.b-color-picker_color_c21 {
    background-color: #f5f5dc; }

.b-color-picker_color_c22 {
    background-color: #9e8653; }

.b-color-picker_color_c23 {
    background-color: #2f1e10; }

.b-color-picker_color_c24 {
    background-color: #242a29; }

.b-color-picker_color_c25 {
    background-color: #2e393e; }

.b-color-picker_color_c26 {
    background-color: #d4d4d4; }


/* + color picker --alt*/
.b-color-picker--alt [class*='b-color-picker_color'] {
    position: relative; }
.b-color-picker--alt [class*='b-color-picker_color']:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #424242;
    opacity: 0.06; }
.b-color-picker--alt [class*='b-color-picker_color'].is-active, .b-color-picker--alt [class*='b-color-picker_color']:hover {
    box-shadow: 2px 2px 0 #cdcdcd, -2px 2px 0px #cdcdcd, 0 2px 0 #cdcdcd, 2px -2px 0 #cdcdcd, -2px -2px 0px #cdcdcd; }

/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:30px;
    right:30px;
    overflow:hidden;
    width:51px;
    height:51px;
    border:none;
    text-indent:100%;
    background:url(../images/ui.totop.png) no-repeat left top;
}

#toTopHover {
    background:url(../images/ui.totop.png) no-repeat left -51px;
    width:51px;
    height:51px;
    display:block;
    overflow:hidden;
    float:left;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
    outline:none;
}

.menuFixo {
    position: fixed;
    top: 0;
    z-index: 99;
}

.sma i { font-size: 1.3rem;}
.medium i { font-size: 1rem; }
.large i { font-size: 1.2rem; }

.topo{
    background: #F0F0F0;
    border-bottom: 10px solid #cccccc;
    border-top: 10px solid #002a80;
}

.topo ul li a{
    color: #069;
    font-weight: bold;
}

.topo-topo{
    background: #000000;
    border-bottom: #cccccc 10px solid;
}

.topo-logo{
    margin-top: 0.5em;
    height: 5em;
}

.topo-logo img{
    padding: 5px;
    margin-top: 10px;
}

.topo-logo h3 {
    color: #069;
    font-weight: bold;
    font-size: 1em;
}

.topo-topo ul li{
    background: #000000;
}

.fi-grande{
    font-size: 1.5em;
}

.importantes {
    background: #a23014;
    color: #000000;
}

.importantes a{
    color: #000000;
}

.topo-h{
    margin-top: 2.5em;
}

/*.larges{*/
    /*background: #e9190e;*/
    /*height: 0.5em;*/
/*}*/

.topo-h a{
    color: #FFFFFF;
}

.topo-h3{
    padding: 0.5em;
    margin-top: 0.5em;
}

.topo-h3 h3{
    font-size: 1.2em;
}

.topo-topo li a{
    font-weight: bold;
}

.topo-topo li a:hover{
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: underline;
}

.coluna-tel{
    margin-top: 20px;
}

.coluna-tel h5{
    color: #069;
}

.button{
    box-shadow: 5px 5px 5px #888888;
}

.hr-branco{
    background: #FFFFFF;
    color: #FFFFFF;
    height: 2px;
}

.warning-perigo{
    padding: 10px;
    background: #f04124;
    color: #FFFFFF;
    font-weight: bold;
    border: 5px dotted #ffffff;
}

.warning-perigo span{
    color: #000000;
}

.cmyk{
    padding: 10px;
}

.hr-linha{
    background: #cccccc;
    height: 3px;
}

/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.botao {
    padding: 15px 11px;

    border: 1px solid #ffcc00;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    background-color: #ffcc00 !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ff6600)) !important;
    background: -webkit-linear-gradient(top, #ffcc00, #ff6600) !important;
    background: -moz-linear-gradient(top, #ffcc00, #ff6600) !important;
    background: -ms-linear-gradient(top, #ffcc00, #ff6600) !important;
    background: -o-linear-gradient(top, #ffcc00, #ff6600) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff6600',GradientType=0 );
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjY2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

    font-family:"Segoe UI";
    font-weight: bold;
    font-size: 21px;
    color: #fff;
    text-shadow: 0 1px 0 #666;

    box-shadow: inset 0 1px 1px #fff, 0 2px 3px #666;
    cursor:pointer;
    position: relative;
}

.botao:hover {
    box-shadow: inset 0 2px 5px #fff, 0 2px 3px #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff6600)) !important;
}

.botao:active {
    box-shadow: inset 0 2px 5px #fff, 0 1px 3px #666 !important;
    top:2px
}
.botao a, .botao a:active, .botao a:hover, .botao a:visited { color: #fff; text-shadow: 0 1px 0 #666; }

.img-thumb{
    margin-top: 15px;
}

.aviso{
    padding: 10px;
    background: #ff6600;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2em;
}

.aviso-h1{
    padding: 2px;
    background: #ff6600;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2.0em;
}

.aviso span{
    color: #000000;
}

.buttonn a{
    color: #333333;
}

.buttonn a:hover{
    color: #cccccc;
}

#menu{
    width:100%;
    padding: 0.2em;
    background-color:#66CCFF;
    z-index: 9;
}
